* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.img-container {
  min-width: 200px;
  width: 200px;
}

img {
  object-fit: cover;
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

/* ATENCION!!
  Podemos utilizar "flex-grow" o "flex-shrink", en valores 0 รณ 1, para determinar si queremos crecer o encoger nuestro sistema flex.

  flex: 1 1 0 // Forma abreviada

  Primer valor: "flex-grow"
  Segundo valor: "flex-shrink"
  Tercer valor: "flex-basis"
*/

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    width: 275px;
  }
}

@media (max-width: 350px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }

  .img-container:nth-child(3n) {
    margin-bottom: 16px;
  }

  .img-container {
    width: 230px;
  }
}